{% extends 'base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <div>
        {% if selected_category %}
            <h1>Check our {{ selected_category }}</h1>
        {% else %}


            <h1>Products</h1>
        {% endif %}
    </div>

    <div>
        <form method="get">
            <label for="categoryfilter">Filter by category</label>
            <select name="category" class="form-select" id="categoryfilter" style="max-width: 200px;" onchange="this.form.submit()">
                <option value="">All categories</option>
                {% for category in categories %}
                <option value="{{ category.name }}" {% if selected_category == category.name %} selected {% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <ul>
        {% for item in products %}
            <li>
                {% if item.img %}
                <img src="{{ item.img.url }}" alt="">
                {% else %}
                <img src="https://demofree.sirv.com/nope-not-here.jpg" alt="">
                {% endif %}

                <h1>title: {{ item.title }}</h1>
                <p>brand: {{ item.brand }}</p>
                <a href="{% url 'product_detail' item.id %}">Continue</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}