{% extends 'base.html' %}
{% load static %}
{% block title %}
    Delete Product
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/public.css' %}">
{% endblock %}
{% block content %}
<div class="product-form-wrap">

    <h1>Delete Service</h1>
    <p>Are you sure you want to delete <strong>"{{ item.title }}"</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-danger">
    </form>
    <a href="{% url 'service_detail' item.id %}" class="btn btn-secondary">cancel</a>
</div>
{% endblock %}